h1 {
    margin-left: 0.7em;
    font-weight: normal;
    /* font-style: italic; */
}
body {
    font-family: "Fira Sans", sans-serif;
    background-color: black;
    color: #ddd;
}
textarea {
    width: 800px;
    height: 450px;
    font-size: 1.5em;
}
#buttons {
    padding: 0.3em;
    padding-left: 2em;
    padding-bottom: 0.2em;
    background-color: #555;
}
button:hover {
    background-color: #e7e7e7;
}
button {
    margin-bottom: 4px;
    font-weight: bold;
    /* padding: 0.2em 0.5em 0.2em 0.5em; */
    font-family: "Fira Sans", sans-serif;
    /* font-weight: bold; */
    color: #444;
    font-size: 0.9em;
    padding: 0.2em 0.9em;
    margin-right: 0.2em;
    background-color: #aaa;
    border-radius: 1em;
    border-width: 0px;
}
button.active {
    background-color: #cfcfcf;
}
.CodeMirror {
    font-family: "Fira Mono", mono;
    font-size: 1.2em;
    background-color: #f7f7f7;
    height: 500px;
}
.CodeMirror-gutters {
    border-right: 1px solid #ddd;
    background-color: #efefef;
}
.small {
    font-style: normal;
    font-size: 0.6em;
    color: #666;
}
#cwbframe {
    width: 100%;
    border-width: 0;
    height: 500px;
    display: none;
    background-color: #ccc;
}
#X {
    font-weight: bold;
}
div.CodeMirror-selected{
    background:#605041 !important;
}
#copyright {
    margin-top: 0.2em;
    color: #7c6f64;
}
a {
    color: #282828;
}
#outwrap {
    display: none;
}
